@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Nixie+One");
      
      html,body{
        height: 100%;
        width: 100%;
      }

      body {
        font-family: 'Nixie One';
        font-size: 1.25em;
        text-align: center;
         font-color: #b15419;
        background-color: black;

      }

      
      .box {
        min-height: 100px;
         width: 100%;
      }

      .mainImage {
        background-image: url("https://www.lewiscreekglassworks.com/portfolioMain.jpg");
        background-color:  black;
        min-height: 550px;
        width: 100%;
        border-style:solid;
        border-width: 0px 0px 3px 0px;
        border-color: #b55419;
        
        
      }

      .pic1 {
        background-color: black;
        
        
      }

      .pic2 {
        background-color: black ;
        
      }

      .feature {
        background-color: black;
        text-align: center;
        padding-top: 20px;
        color: #b15419;
        width: 100%;
      }

      .pic3 {
        background-color: black;
        max-width: 195px;
        
        
      }


      
}

      .nav{
        font-family: 'Nixie One';
        font-size: 1.15em;
        
         font-color: #b15419;
        
      }

      
    

      .header {
        width:100%;
        background-color: black;
        text-align: right;
        padding-right: 5px;
        padding-bottom: 15px;
        color: #b55419;
        border-style:solid;
        border-width: 0px 0px 3px 0px;
        border-color: #b55419;

 }

      .smallImage {
        max-width: 33.333%;
        max-height: auto;
        
      }

      .container {
        font-family: 'Nixie One';
        font-size: 1em;
         color: #b15419;
        background-color: black;
      }

      .container2 {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Nixie One';
        font-size: 1.2em;
         color: #b15419;
        background-color: black;

      }


      .footer {

        width:100%;
        background: black;
        height: auto;
        text-align: center;
        font-size: 1.0em;
        color:#b15419;
        border-style:solid;
        border-width: 3px 0px 0px 0px;
        border-color: #b15419;
        
      }

      
      }
      
       @media screen and (min-width: 450px) {
        .mainImage, .header, .feature{
          width:100%;
          
        }
      }
      @media screen and (min-width: 450px) {
        .pic1,.pic2, .pic3 {
          width:33%;
          height:auto;
          padding-right: 100px;
          padding-left: 20px;
          padding-bottom: 20px;
          
        }
      }
       
        }
        @media screen and (min-width: 550px) {
        .mainImage,.feature, .header{
          width:100%;
          
        }
      }
       @media screen and (min-width: 550px) {
        .pic1, .pic2,.pic3{
          width:33%;
          height: auto;
          padding-right: 100px;
          padding-left: 20px;
          padding-bottom: 20px;
          
        }
      }
       
  
      @media screen and (min-width: 800px){
        .container,.container2{width: 800px;
          margin-left: auto;
           margin-right: auto;

        }
      }
